<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans:wght@300&family=Readex+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/database.png" type="image/x-icon">
</head>
<body>
    <div class="first_cont">
        <h1 class="head1">Tracker</h1>
        <h3 class="head3"><em>Look what we found about you!!</em></h3>
        <p><%=data1%></p>
        <p><%=data2%></p>
        <p><%=data3%></p>
        <p><%=data4%></p>
        <p><%=data5%></p>
        <p><%=data6%></p>
        <p><%=data7%></p>
        <p><%=data8%></p>
        <p><%=data9%></p>
        <p><%=data10%></p>
        <p><%=data11%></p>
        <p><%=data12%></p>
        <p><%=data13%></p>
        <p class="lastpara"><%=data14%></p>
     
    </div>
    <div class="footer">&copy; 2021 TrakerApp <br> Made with 🧡 by Neeraj Tripathi</div>
    
</body>
</html>